# Portal de Exames
PORTAL_USER=
PORTAL_PASS=

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=

# API de destino (ClickPalm)
CLICKPALM_LOGIN_URL=url_de_auth
CLICKPALM_UPLOAD_URL=url_de_upload
CLICKPALM_CPF=seu_cpf
CLICKPALM_PASS=sua_senha

# Google Sheets
GOOGLE_SHEET_URL=